#conf-login #alf-cont label.label-username input.alf-input,
#conf-login #alf-cont label.label-password input.alf-input{padding:0;background:none;}
.win #cfg #tabs ol.forms li.palette .color-preview{right:101px;top:7px;}
#assets-tabs .thumb-view ul.buttons li a span,
#assets-tabs .thumb-view ul.buttons li a,
a.btn-link,
a.switch-view,
#qtip-content .docs-wrap a.btn-link,
#system-message dd.message ul,
#system-message dd.message,
#conf-login label.label-username,
#conf-login label.label-password,
#conf-login,
#cl-inner{-webkit-border-radius:10px;}
#shelf.closed #utilities,
#shelf,
#element-box .m,
.#tips .inner,
#minwidth-body .m #templateform{-webkit-border-radius:7px;}
#login-details{-webkit-border-radius:5px;}
#utilities ul li #toggle-shelf{-webkit-border-radius:4px;}
#conf-login #alf-cont label.label-username span,
#conf-login #alf-cont label.label-password span{-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:0;}
#shelf-contents,
#tabs .ui-tabs-panel{-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:7px;-webkit-border-bottom-right-radius:7px;}
ul.assets-headers,
#shelf.open #utilities,
#tabs .primary.ui-tabs-nav li a{-webkit-border-top-left-radius:7px;-webkit-border-top-right-radius:7px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;}