/* 
Local testing url:http://localhost:8888/morph/administrator/components/com_morph
*/
.icon-48-configurator{background:transparent url(../images/icon-48-configurator.png) 0;}
#configurator-wrap{width:950px;margin:0 auto;padding-top:1em;overflow:hidden;}
#dashboard{width:640px;padding-left:310px;margin:2em auto;padding-bottom:2em;background:#fff url(../images/maskot.png) 0 5px no-repeat;}
#dashboard h1{margin:0;padding:0;font:bold 40px Arial;color:#666;}
#dashboard p{font:bold 20px Arial;color:#666;}
#dashboard p.config-morph a{text-indent:-7998px;display:block;width:230px;height:50px;background:#fff url(../images/configure-morph.jpg) no-repeat 0 -2px;}
#dashboard p.config-morph a:hover{background-position: 0 -50px; background-repeat: no-repeat;}
#accordion{width:48%;float:left;}
#tabs{padding:.6em;zoom:1;background:#333333;width:48%;float:right;}
#tabs .ui-tabs-nav{list-style:none;position:relative;margin:0;padding:0;background:#333333;overflow:hidden;}
#tabs .ui-tabs-nav li{position:relative;float:left;border-bottom-width:0 !important;margin:0 2px -1px 0;padding:0;background:#1B1B1B;}
#tabs .ui-tabs-nav li.ui-state-hover{background:#000;}
#tabs .ui-tabs-nav li.ui-state-hover a{color:#fff;}
#tabs .ui-tabs-nav li a{float:left;text-decoration:none;padding:.5em 1em;color:#999;}
#tabs .ui-tabs-nav li a:focus{outline:0;}
#tabs .ui-tabs-nav li.ui-tabs-selected{padding-bottom:1px;border-bottom-width:0;background:#fff;}
#tabs .ui-tabs-nav li.ui-tabs-selected a,
#tabs .ui-tabs-nav li.ui-state-disabled a,
#tabs .ui-tabs-nav li.ui-state-processing a{cursor:text;color:#333;padding:.5em 15px .5em 3px;}
#tabs .ui-tabs-nav li a,
#tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer;}
/* first selector in group seems obsolete,but required to overcome bug in Opera applying cursor:text overall if defined elsewhere... */
#tabs .ui-tabs-panel{padding:1em 1.4em;display:block;border-width:0;background:none;background:#fff;}
#tabs .ui-tabs-hide{position:absolute;left:-10000px;display:block;}
.icon-48-mightymorph{background-image:url(../images/icon-48-mightymorph.png);}
table.paramlist.admintable td.paramlist_key{background:#121212;border:0;color:#ccc;width:180px;}
#tabs .ui-tabs-nav li.ui-tabs-selected .tabs-sum-icon{background:url('../images/summary-icon-tabs.gif') no-repeat 10px 5px;padding:.5em 15px .5em 30px;}
#tabs .ui-tabs-nav li.ui-tabs-selected a.tabs-ins-icon{background:url('../images/ico_installer.png') no-repeat 10px 5px;padding:.5em 15px .5em 30px;}
#tabs .ui-tabs-nav li.ui-tabs-selected .tabs-bac-icon{background:url('../images/summary-icon-tabs.gif') no-repeat 10px 5px;padding:.5em 15px .5em 30px;}
#tabs .ui-tabs-nav li.ui-tabs-selected .tabs-help-icon{background:url('../images/help-icon-tabs.gif') no-repeat 10px 5px;padding:.5em 15px .5em 30px;}
/* Credits */
#pt-credits{margin-left:490px;width:50%;}
#pt-credits #prothemer-small{float:left;width:130px;height:46px;}
#pt-credits #prothemer-small a span{display:none;}
#pt-credits #prothemer-small a{display:block;height:46px;width:126px;background:url('../images/prothemer_small.gif') no-repeat 0 0;}
#pt-credits #prothemer-small a:hover{background:url('../images/prothemer_small.gif') no-repeat 0 -46px;}
#pt-credits #pt-links{float:left;color:#999;background:transparent;margin:-3px 0 0 0;}
#pt-credits #pt-links p{line-height:18px;}
#pt-credits #pt-links a{color:#666;background:transparent;text-decoration:underline;}
span.hide-text{visibility:hidden;}
/* Installer Tabs */
#installer-tabs{background:#fff;margin-bottom:5px;}
#installer-tabs .ui-ins-tabs-nav{list-style:none;position:relative;margin:0;padding:0;background:#fff;overflow:hidden;}
#installer-tabs .ui-ins-tabs-nav li{position:relative;float:left;border-bottom-width:0 !important;margin:0 2px -1px 0;padding:.2em .4em;background:#4a4e4f;color:#fff;}
#installer-tabs .ui-ins-tabs-nav li.ui-state-hover{color:#fff;background:#444;padding:.2em .4em;}
#installer-tabs .ui-ins-tabs-nav li a{float:left;text-decoration:none;padding:.2em .6em;color:#fff;font-size:12px;font-weight:normal;}
#installer-tabs .ui-ins-tabs-nav li a:focus{outline:0;}
#installer-tabs .ui-ins-tabs-nav li.ui-tabs-selected{padding-bottom:2px;background:#333;color:#fff;}
#installer-tabs .ui-ins-tabs-nav li.ui-tabs-selected a,
#installer-tabs .ui-ins-tabs-nav li.ui-state-disabled a,
#installer-tabs .ui-ins-tabs-nav li.ui-state-processing a{color:#fff;padding:.2em .6em;}
#installer-tabs .ui-ins-tabs-nav li a,
#installer-tabs.ui-ins-tabs-collapsible .ui-ins-tabs-nav li.ui-ins-tabs-selected a{cursor:pointer;}
/* first selector in group seems obsolete,but required to overcome bug in Opera applying cursor:text overall if defined elsewhere... */
#installer-tabs .ui-ins-tabs-panel{padding:20px 15px;display:block;border-width:0;background:#333;color:#fff;}
#installer-tabs .ui-ins-tabs-hide{display:none !important;}
#installer-tabs .ui-tabs-nav li.ui-tabs-selected .tabs-install-themelet-icon{background:url('../images/ico_themelets.png') no-repeat 3px 2px;padding:.2em .6em .2em 2.1em;}
#installer-tabs .ui-tabs-nav li.ui-tabs-selected .tabs-install-logo-icon{background:url('../images/ico_themelets.png') no-repeat 3px 2px;padding:.2em .6em .2em 2.1em;}
#installer-tabs .ui-tabs-nav li.ui-tabs-selected .tabs-install-favicon-icon{background:url('../images/ico_themelets.png') no-repeat 3px 2px;padding:.2em .6em .2em 2.1em;}
#installer-tabs .ui-tabs-nav li.ui-tabs-selected .tabs-install-bg-icon{background:url('../images/ico_themelets.png') no-repeat 3px 2px;padding:.2em .6em .2em 2.1em;}
/* installer tab content */
#installer{padding:0;margin:0;}
#installer p a{text-decoration:underline;}
#installer .input-installer{background:transparent url('../images/select-input.png') no-repeat;height:25px;width:217px;border:0;padding:6px 0 0 4px;font-size:12px;}
#installer .file-wrapper{cursor:pointer;}
#tabs #installer-tabs p{margin:0;padding:0;}
#installer .button-themelet{background:transparent url('../images/upload-themelet.png') no-repeat;height:25px;width:105px;text-indent:-999px;border:0;cursor:pointer;}
#installer .button-favicon{background:transparent url('../images/upload-favicon.png') no-repeat;height:25px;width:100px;text-indent:-999px;border:0;cursor:pointer;}
#installer .button-logo{background:transparent url('../images/upload-logo.png') no-repeat;height:25px;width:86px;text-indent:-999px;border:0;cursor:pointer;}
#installer .button-background{background:transparent url('../images/upload-background.png') no-repeat;height:25px;width:124px;text-indent:-999px;border:0;cursor:pointer;}
#installer-themelet p span,
#installer-favicon p span,
#installer-logo p span,
#installer-bg p span{color:#999;background:transparent;font-size:11px;padding-left:5px;}
/* accordion specific changes */
#accordion h3.general-settings{background:#dddddd url(../images/ui-bg_highlight-soft_60_dddddd_1x100.png) 50% 50% repeat-x;font-weight:normal;color:#000000;outline:none;}
#accordion h3.ui-state-active{background:#121212 url(../images/ui-bg_inset-soft_15_121212_1x100.png) 50% 50% repeat-x;font-weight:normal;color:#ffffff;outline:none;}
#accordion h3 .span acc-icon{height:16px;width:16px;display:block;background:#ff0000;}
#accordion h3 .ui-gen-settings{background:url('../images/acc-gen-settings.png') no-repeat 0 0;}
#accordion h3 .ui-bg-settings{background:url('../images/acc-cust-settings.png') no-repeat 0 0;}
#accordion h3 .ui-color-settings{background:url('../images/acc-color-settings.png') no-repeat 0 0;}
#accordion h3 .ui-logo-settings{background:url('../images/acc-logo-settings.png') no-repeat 0 0;}
#accordion h3 .ui-prog-settings{background:url('../images/acc-prog-settings.png') no-repeat 0 0;}
#accordion h3 .ui-menu-settings{background:url('../images/acc-menu-settings.png') no-repeat 0 0;}
#accordion h3 .ui-tool-settings{background:url('../images/acc-tool-settings.png') no-repeat 0 0;}
#accordion h3 .ui-main-settings{background:url('../images/acc-main-settings.png') no-repeat 0 0;}
#accordion h3 .ui-sub-settings{background:url('../images/acc-sub-settings.png') no-repeat 0 0;}
#accordion h3 .ui-tbshelf-settings{background:url('../images/acc-tbshelf-settings.png') no-repeat 0 0;}
#accordion h3 .ui-us12-settings{background:url('../images/acc-us12-settings.png') no-repeat 0 0;}
#accordion h3 .ui-ins14-settings{background:url('../images/acc-ins14-settings.png') no-repeat 0 0;}
#accordion h3 .ui-osb-settings{background:url('../images/acc-osb-settings.png') no-repeat 0 0;}
#accordion h3 .ui-isb-settings{background:url('../images/acc-isb-settings.png') no-repeat 0 0;}
#accordion h3 .ui-foot-settings{background:url('../images/acc-foot-settings.png') no-repeat 0 0;}
#accordion h3 .ui-adv-settings{background:url('../images/acc-adv-settings.png') no-repeat 0 0;}
#accordion h3 .ui-per-settings{background:url('../images/acc-per-settings.png') no-repeat 0 0;}
#accordion .paramlist_value h3{margin:0 0 2px 0;padding:0;color:#666;font:bold 13px Arial;}
#accordion label{color:#666;}
#accordion input,#accordion textarea{background:#070707;color:#fff;border:1px solid #222;padding:3px;}
#accordion textarea{width:200px;}
#accordion select{background:#070707;color:#fff;border:1px solid #222;padding:2px;}
#tabs h4{color:#666;margin:5px 0 10px 0;padding:0 0 5px 0;font:bold 15px Arial;background:transparent url(../images/horizontal-divider.gif) repeat-x bottom;}
#tabs h5{color:#333;font:bold 13px Arial;margin:0 0 5px 0;}
#tabs p{color:#111;font:normal 12px/17px Arial;margin:0 0 1.4em 0;}
#summary table{margin:0 0 1.2em 0;font:normal 12px/19px Arial;color:#111;background:transparent url(../images/horizontal-divider.gif) repeat-x top;}
#summary caption{text-align:left;color:#666;font:bold 14px/30px Arial;}
#summary tbody tr{background:transparent url(../images/horizontal-divider.gif) repeat-x bottom;}
#summary td{padding:5px 0;}
#current-themelets td{padding:0;}
#summary .label{width:135px;}
#summary .installed-version,#summary .current-version{width:86px;}
#summary .installed-version{color:#069;}
#summary .current-version{color:#003333;}
#summary .themelet-name{width:172px;}
#summary .other-themelet-name{width:135px;}
#summary .themelet-thumb{background:#fff;}
#summary .themelet-thumb img{margin-left:2em;background:#fff;padding:1px;border:3px solid #ddd;}
#summary tfoot td{color:#999;font-size:11px;padding:5px 0 0 0;}
#summary tfoot td i{text-indent:-7998px;overflow:hidden;background:transparent url(../images/asterix.gif) no-repeat 0 55%;display:inline-block;width:10px;height:10px;}
#summary .status{width:100px;}
#summary .status span,#summary .btn a{text-indent:-7998px;display:block;}
#summary .status span.update-yes{background:transparent url(../images/update-yes.gif) no-repeat 0 55%;}
#summary .status span.update-no{background:transparent url(../images/update-no.gif) no-repeat 0 55%;}
#summary .activate-themelet{width:70px;}
#summary .delete-themelet{width:10px;}
#summary .status span.activate-themelet{float:left;width:56px;padding-left:5px;}
#summary .status span.activate-themelet a{background:transparent url(../images/btn-activate.png) no-repeat top center;width:56px;height:20px;display:block;}
#summary .status span.activate-themelet a:hover{background-position:bottom center;display:block;}
#summary .status span.activate-themelet a:focus{outline:0;}
#summary .status span.delete-themelet{float:left;width:14px;height:13px;padding:2px 0 0 15px;}
#summary .status span.delete-themelet a{background:transparent url(../images/btn-delete.png) no-repeat bottom center;width:14px;height:13px;margin-top:2px;display:block;}
#summary .status span.delete-themelet a:hover{background-position:top center;display:block;}
#summary .other-themelet-name span{background:transparent url(../images/themelet-icon.gif) no-repeat 0 50%;padding-left:20px;color:#666;text-decoration:underline;cursor:pointer;}
#submenu li.last a{border-right:0;}
.reflinks{margin-top:-10px;overflow:hidden;}
.reflinks a{display:block;float:left;text-indent:-7998px;text-decoration:underline;height:20px;}
.byblock{width:66px;background:#fff url(../images/btn-byblock.png) no-repeat top left;}
.byposition{width:76px;background:#fff url(../images/btn-byposition.png) no-repeat top left;}
.reflinks a:hover{background-position:bottom left;}

#accordion input#backgroundthemelet_bgcolor,
#accordion input#colorcolor_h1,
#accordion input#colorcolor_h2,
#accordion input#colorcolor_h3,
#accordion input#colorcolor_h4,
#accordion input#colorcolor_h5,
#accordion input#colorcolor_links,
#accordion input#colorcolor_linkshover,
#accordion input#colorcolor_bodytext{background-image:url(../images/colorpicker-bg.png);background-repeat:no-repeat;background-position:98% 50%;}

.docs-wrap{background:#fff;color:#111;padding:0 2em 1.5em 2em;max-height:500px;overflow:auto;}
.docs-wrap h3{font-size:1.5em;margin:1.5em 0 0 0;}
.docs-wrap p{line-height:18px;font-size:12px;}
.docs-wrap dd a{text-decoration:underline!important;}
.docs-wrap p.intro{font:normal 15px/20px Arial;color:#666;}
.docs-wrap .readmore-link{background:transparent url(../images/horizontal-divider.gif) repeat-x top;padding:5px 0 2em 0;margin:0;overflow:hidden;}
.docs-wrap dl.options-list,
.docs-wrap dl.options-list dt,
.docs-wrap dl.options-list dd{margin:0;padding:0;}
.docs-wrap dl.options-list{font-size:12px;overflow:hidden;}
.docs-wrap dl.options-list dt,
.docs-wrap dl.options-list dd{float:left;margin-bottom:15px;line-height:17px;}
.docs-wrap dl.options-list dt{font-weight:bold;width:110px;}
.docs-wrap dl.options-list dt span{display:block;color:#0088DB;text-decoration:underline;font-size:11px;font-weight:normal;padding-left:12px;background:#fff url(../images/bullet3.png) no-repeat 0;}
.docs-wrap dl.options-list dd{width:580px;color:#444;}
.docs-wrap .docs-class{background:#FFFFAF;border:1px solid #FFD07F;color:#E3702B;padding:0 2px;}

#minwidth-body .buttons{overflow:hidden;margin:-5px 0 0 0;}
#minwidth-body a.btn{background: transparent url(../images/btn-right.png) no-repeat scroll top right;display: block;float: left;height: 26px;margin-right: 0;padding-right: 15px;text-decoration: none;color: #222;font:normal 9px arial;text-transform: uppercase;}
#minwidth-body a.btn span{background: transparent url(../images/btn-left.png) no-repeat;display: block;line-height: 26px;padding: 0 0 0 15px;}
#minwidth-body a.btn:hover{background-position: bottom right;}
#minwidth-body a.btn:hover span{background-position: bottom left;}

.docs-wrap p .btn{float:right;}
.colorpicker{z-index:9999;}
.docs-wrap table{font:normal 12px/160% Arial;width:100%;border:1px solid #ccc;border-right:0;margin:0 0 2em 0;}
.docs-wrap table table{margin:0;border:0;background:#F9FFD0;}
.docs-wrap table td{font:normal 13px/160% Arial;text-align:center;border-right:1px solid #ccc;background:#eee;color:#666;}
.docs-wrap table td td{border:1px solid #ccc;background:#eee;color:#666;}
.docs-wrap .docs-il-outer{padding:3px 0;border:1px solid #FF9C60;background:#FFE390;color:#BB5517;}
.no-themelets td{color:#666;}
.themelet-options .row-heading{color:#333;background:transparent;margin-bottom:10px;}
.themelet-options .to-heading{margin:1em 0 0 0;padding:3px 7px;color:#999;background:#222;}
#customizationcustomization{display:none;}

.themelet-options .to-heading-text {
border-bottom:1px dashed #222222;
color:#ccc;
display:block;
font: normal 13px/19px arial;
margin:5px 0 10px;
padding-bottom:15px;
}

.qtip{font:normal 13px/17px arial;}
.themelet-options .to-heading-text a{color:#fff;text-decoration:underline;}
textarea{width:195px!important;}
.themelet-options .row, .themelet-options .alt {display:block;padding:3px 0 0 0;position:relative;}
#accordion .themelet-options label.to-label{display:block;float:left;font-size:13px;height:16px;padding:2px 10px 0 0;text-align:right;width:160px;color:#eee;}
.themelet-options span.tt-inline{background:url(../images/ico_information_inline.png) no-repeat;display:block;float:left;height:16px;width:16px;margin-right:10px}
.themelet-options span.tt-modal{cursor:pointer;background:url(../images/ico_information_modal.png) no-repeat;display:block;float:left;height:16px;width:16px;margin-right:10px;}
#accordion input,#accordion select{font: normal 12px Arial!important;}
.themelet-options b.ttim{padding-right:12px;height:16px;}
#welcome-box { background: #7b0000 url(../images/welcomebox-bg.jpg) no-repeat bottom;display: block; width: 950px; margin: 1em auto; }
#wb-header { width: 100%; height: 40px; background: #000; color: #fff; }
#wb-header #wbh-left { width: 700px; float: left; }
#wb-header #wbh-right { width: 200px; margin-left: 735px; text-align: right; }
#wb-header #wbh-left h2 { font-weight: normal; padding: 0 0 0 15px; font-size: 125%; }
#wb-header #wbh-right { padding: 14px 0 0 0; font-size: 110%; color: #737373; }
#wb-header #wbh-right a {color: #737373; text-decoration:none;}
#wb-header #wbh-right a:hover {color:#fff;text-decoration: underline;}
.wbh-hide-show{padding-right:10px;}
.wbh-close{padding-left:10px;}
#wb-content {overflow:hidden;color: #fff; padding: 15px 10px 0; margin: 0; border-top: 1px solid #901919; min-height: 140px; font: normal 13px/130% arial; }
#wb-content h3 { margin: 0; padding: 0; color: #fc3; background: transparent; font-weight: normal; }
#wb-content ul{margin:0 0 0 13px;font-size:12px;padding:0;}
#wb-content .reflinks { margin-top: 10px; }
#wbc-col1 { float: left; width: 200px; padding: 0 12px 0 5px;background: transparent url(../images/vertical-dots.png) repeat-y top right; }
#wbc-col2 { float: left; width: 440px; padding: 0 20px 0 18px; background: transparent url(../images/vertical-dots.png) repeat-y top right; }
#wbc-col3 { margin-left: 700px; width: 210px; padding: 0 10px 0 15px; }
#wbc-col3 a { color: #fff; background: transparent; text-decoration: underline; }
#wbc-col2 ul { margin: 0; padding: 8px 0 0 0; list-style: none; }
#wbc-col2 ul li { display: block; height: 18px; padding: 2px 0 0 20px; }
#wbc-col2 ul li.helpicon { background: url(../images/ico_information_modal.png) no-repeat 0; }
#wbc-col2 ul li.infoicon { background: url(../images/ico_information_inline.png) no-repeat 0; }
#wb-footer{height:10px;}
.wb-footer-black { background: #000; }

.logo-preview { width: 16px; height: 16px; background: transparent url('../images/ico_eye.png') no-repeat 0 0; position:absolute;top:7px; right: 65px;}

#conf-login { background:#9d9e9e;color:#313131;width:100%;padding: 1px 0;display:block;text-align:center;}
#conf-login h2 { margin-top:40px; font:bold 32px Arial; }
#conf-login p { margin: -14px 0 0 0;padding:0;font: normal 18px/16px Arial; }
#cl-inner {display: block;margin:7px 8px;height:322px;overflow: hidden;background: transparent url('../images/login-bg.png') repeat-x 0 0;color: #313131;border: 1px solid #919292; }
#am-login-form #alf-cont { width: 480px;margin:30px auto;position: relative; }
#am-login-form #alf-cont .alf-input { display: block;padding: 10px 0 0 10px;margin-bottom: 9px;height: 32px;width: 300px;background: transparent url(../images/login-input-bg.png) no-repeat 0 0;color: #898989; border: none; text-align: left;font: normal 18px/32px Arial; }
#am-login-form #alf-cont #alf-inp-cont { position: absolute;left: 0;top: 0; text-align: left; }
#am-login-form #alf-cont #alf-inp-cont .alf-check {display: block;float: left; }
#am-login-form #alf-cont #alf-inp-cont label {display: block;float: left; padding: 5px 0 0 0; }
#am-login-form .alf-login { position: absolute;left: 320px; text-indent: -5000px;border: 0; background: transparent url(../images/login-button-sprite.png) no-repeat 0 0; height: 98px; width: 158px; -moz-outline: 0 none;  }
#am-login-form .alf-login:hover { background-position: -159px 0; cursor: pointer; }
#am-login-form .alf-login:active { background-position: -319px 0; cursor: pointer; }
#am-login-form input:focus { -moz-outline:0;outline:0;outline-offset:0; }
#alf-warning, #alf-output { text-align: left; padding-top:10px; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}