#dashboard{width:640px;padding-left:310px;margin:3em auto 2em auto;padding-bottom:2em;background:#fff url(../images/maskot.png) 0 5px no-repeat;}
#dashboard h1{margin:0;padding:0;font:bold 40px Arial;color:#666;}
#dashboard p{margin-top:20px;font:bold 20px Arial;color:#666;}
#dashboard p.config-morph a{text-indent:-7998px;display:block;width:250px;height:40px;background:#fff url(../images/btn-configure-morph.jpg) no-repeat 0 0;}
#dashboard p.config-morph a:hover{background-position:0 -40px;background-repeat:no-repeat;}