#cfg #tabs ol.forms li.palette .color-preview{top:7px;}
#assets-tabs .thumb-view ul.buttons li a span,
#assets-tabs .thumb-view ul.buttons li a,
a.btn-link,
a.switch-view,
#qtip-content .docs-wrap a.btn-link,
#system-message dd.message ul,
#system-message dd.message,
#conf-login label.label-username,
#conf-login label.label-password,
#conf-login,
#cl-inner{-moz-border-radius:10px;}
#shelf.closed #utilities,
#shelf,
#element-box .m,
.#tips .inner,
#minwidth-body .m #templateform{-moz-border-radius:7px!important;}
#login-details{-moz-border-radius:5px;}
#utilities ul li #toggle-shelf{-moz-border-radius:4px;}
#conf-login #alf-cont label.label-username span,
#conf-login #alf-cont label.label-password span{-moz-border-radius-topleft:8px;-moz-border-radius-topright:0;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:0;}
#shelf-contents,
#tabs .ui-tabs-panel{-moz-border-radius-topleft:0;-moz-border-radius-topright:0;-moz-border-radius-bottomleft:7px;-moz-border-radius-bottomright:7px;}
ul.assets-headers,
#shelf.open #utilities,
#tabs .primary.ui-tabs-nav li a{-moz-border-radius-topleft:7px;-moz-border-radius-topright:7px;-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;}
div#element-box div.m,
#minwidth-body .m #templateform,
#shelf.closed #utilities{-moz-border-radius:7px;}
#browser-wrap .cfg-message p{-moz-border-radius:15px;}
#browser-wrap .cfg-message p a.close-msg{-moz-border-radius:10px;}
#minwidth-body #content-box #element-box .m,
#browser-wrap,#minwidth-body .m #templateform{-moz-border-radius:7px;}
#database-manager .action a,
#database-manager ul{-moz-border-radius:5px;}
#cfg #tools .tools-btn{-moz-border-radius:10px;}
#preferences-screen select{width:135px;}
a.btn-primary{-moz-border-radius: 20px;-moz-box-shadow:0 0 5px #999;}
a.btn-primary:hover{-moz-box-shadow:0 0 5px #598C13;}