html{
overflow: -moz-scrollbars-vertical;
overflow-y: scroll;
}
#wrap .ui-widget .ui-widget{
padding: 0;
margin: 0;
background: none;
border: 0;
}
#element-box .t,
#element-box .b{
display: none;
}
#element-box .m{
background: #0C0C0C;
padding: 15px 0;
}
#utilities{
text-align: right;
overflow: hidden;
height: 30px;
background: #ccc url(../images/gradient1.jpg) repeat-x;
}
#shelf.open #utilities{
-moz-border-radius-bottomleft:0;
-moz-border-radius-bottomright:0;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
}
#shelf.closed #utilities{
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
}
#utilities ul{
overflow: hidden;
margin-left: 10px;
}

#shelf #utilities ul li.logged-in{
display: block;
float: left;
margin:0 0 0 8px;
padding:0 0 0 20px;
height:30px;
line-height:30px;
text-align:left;
width: 300px;
font-weight:normal;
font-size:12px;
background: transparent url(../images/loggedin.png) no-repeat center left;
}
#utilities ul li.logged-in a{
display: inline!important;
padding:0;
margin:0;
height: auto;
line-height:1;
float:none;
font-size:12px;
color: #000;
text-decoration:underline;
}
#utilities ul li{
display: block;
float: right;
margin-left: 10px;
}
#utilities ul li a{
padding: 0 0 0 30px;
height: 30px;
display: block;
border-left: 1px solid #ccc;
float: left;
font: normal 12px/30px Arial;
color: #222;
}
#utilities .toggle-shelf a{
background: transparent url(../images/toggle.png) no-repeat 10px 51%;
padding: 0 10px 0 30px;
}
#shelf.closed #utilities .toggle-shelf a{
background: transparent url(../images/toggle-open.png) no-repeat 10px 51%;
}
#utilities .report-bug a{
background: transparent url(../images/bug.png) no-repeat 10px 51%;
}
#utilities .preferences a{
background: transparent url(../images/preferences.png) no-repeat 10px 51%;
}
#utilities .full-mode a{
background: transparent url(../images/full-mode.png) no-repeat 10px 51%;
}
#utilities .normal-mode a{
background: transparent url(../images/normal-mode.png) no-repeat 10px 51%;
}
#fullscreen{
}
#shelf{
margin: 0 0 20px 0;
}
#shelf #shelf-contents{
border-top: 0;
background: #fff;
overflow: hidden;
border:0;
}
#shelf.closed #shelf-contents{
display: none;
}
#shelf #utilities.ui-widget-header{
border:0!important;
}
#shelf.open #shelf-contents{
border-top:1px solid #ccc;
}
#updates-summary,
#current-themelet{
margin: 0 20px 0 0;
border-right: 1px solid #ccc;
}
#updates-summary,
#current-themelet,
#visual-refs{
height: 125px;
}
#updates-summary{
margin-left: 20px;
width: 220px;
float: left;
}
.update-yes,
.update-no{
width: 16px;
height: 16px;
display: block;
text-indent: -7998px;
}
.update-yes{
background: transparent url(../images/yes.png) no-repeat;
}
.update-no{
background: transparent url(../images/no.png) no-repeat;
}
#current-themelet{
width: 270px;
float: left;
padding-right: 20px;
}
#visual-refs{
margin: 0;
}
#shelf h3{
margin: 20px 0 10px 0;
font: bold 15px Arial;
}
#updates-summary dl{
overflow: hidden;
}
#updates-summary dt{
width: 90px;
float: left;
}
#updates-summary dd.current{
width: 45px;
float: left;
}
#updates-summary dd.latest{
width: 45px;
float: left;
}
#updates-summary dd.icon{
width: 20px;
float: left;
}
#current-themelet ul{
position: relative;
}
#current-themelet span{
width: 65px;
display: inline-block;
}
#current-themelet .thumb {
height:100px;
position:relative;
right:-150px;
top:-85px;
width:117px;
}
#current-themelet .thumb img{
position: absolute;
top: 12px;
left: 5px;
}
#current-themelet .thumb span{
position: absolute;
width: 117px;
height: 100px;
z-index: 999;
top: 6px;
background: transparent url(../images/screen.png) no-repeat;
}
#current-themelet img{
vertical-align: middle;
}
#current-themelet a,
dd.latest a{
color: #555;
}
#shelf ul,
#shelf li{
list-style: none;
margin: 0;
padding: 0;
}
#visual-refs{
width: 375px;
float: left;
}
.buttons li {
display:block;
float:left;
margin:0 7px 5px 0!important;
}
.buttons li.last{
margin-right: 0!important;
}
#tabs.ui-tabs .ui-tabs-nav li{
font: normal 17px Arial;
color: #fff;
margin: 0 1px 0 0;
}
#tabs.ui-tabs li strong{
display: block;
font: bold 18px Arial;
color: #eee;
}
#tabs,
#tabs .primary,
#tabs .primary li,
#tabs .primary li a,
#tabs .primary .ui-tabs-panel{
padding: 0;
margin: 0;
border: 0;
background: none;
-moz-border-radius: 0;
}
#tabs .primary li.last{
margin: 0;
}
#tabs .primary li a{
padding: 15px 20px;
/*background: #eee url(../images/tabs-bg.jpg) repeat-x;*/
background: #131212;
color: #666;
text-decoration: none;
}
#tabs .primary li a:hover{
color: #fff;
background: #222;
/*background: #eee url(../images/tabs-bg-over.jpg) repeat-x;*/
}
#tabs .primary li.ui-tabs-selected.ui-state-active a{
border-bottom: 1px solid #fff;
background: #fff url(../images/cog.png) no-repeat 20px 50%;
color: #333;
padding-left: 45px;
}
#tabs .primary li.ui-tabs-selected.ui-state-active a strong{
color: #333;
}

#tabs .primary li.themelet-icon.ui-state-active a{
background: #fff url(../images/icon-themelet.png) no-repeat 20px 50%;
}
#tabs .primary li.blocks-icon.ui-state-active a{
background: #fff url(../images/blocks.png) no-repeat 20px 50%;
}
#tabs .primary li.assets-icon.ui-state-active a{
background: #fff url(../images/assets.png) no-repeat 20px 50%;
}
#tabs .primary li.tools-icon.ui-state-active a{
background: #fff url(../images/tools.png) no-repeat 20px 50%;
}
#tabs .primary li.help-icon.ui-state-active a{
background: #fff url(../images/lifebuoy.png) no-repeat 20px 50%;
}
#tabs .ui-tabs-panel {
background:#fff none repeat scroll 0 0;
float:left;
padding:20px;
width:920px;
}

/* sub tabs styling */
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav,
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li,
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li a{
padding: 0;
margin: 0;
border: 0;
background: none;
-moz-border-radius: 0;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav{
/*background: #ccc url(../images/gradient1.jpg) repeat-x;*/
background: #ccc url(../images/subtabs-bg.jpg) repeat-x;
border: 1px solid #ccc;
color: #222;
margin: 0 0 2em 0;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li{
border-right: 1px solid #ccc;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li a{
padding: 5px 10px;
color: #444;
font-size: 13px;
text-decoration: none;
}

#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li a:hover{
text-decoration: underline;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.ui-tabs-selected.ui-state-active{
/*background:#587D24 url(../images/active-tab.jpg) repeat-x scroll 0 0;*/
/*border:1px solid #5B7F27;*/
background:#222 url(../images/active-tab-dark.jpg) repeat-x scroll 0 0;
border:1px solid #222;
height:26px;
margin:-1px 0;
position:relative;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.ui-tabs-selected.ui-state-active a{
color: #fff;
}
#tabs .subtabs .ui-tabs-panel{
background: #fff;
padding: 0;
width: 100%;
float: left;
}
.options-panel {
border:5px solid #E3E3E3;
float:left;
width:462px;
z-index:10;
}
.info-panel{
padding-right:10px;
width:410px;
float: right;
font: normal 12px/20px arial;
}
.info-panel h3{
font: normal 23px/25px arial;
margin: 0 0 10px 0;
padding: 0;

}
.info-panel h4{
font: bold 15px arial;
margin: 0 0 7px 0;
padding: 0;
color:#333;
}
.info-panel ul.morph-resources{
margin-top:-10px;
}
.info-panel .teaser{
font: normal 15px/20px arial;
margin: 0 0 15px 0;
padding-bottom:15px;
color:#666;
border-bottom: 1px dashed #ccc;
}

#general-settings ol.forms li.buttons{
float: none;
margin-left: 100px;
width: auto;
}
.options-inner{
/*border:1px solid #546F29;*/
border:1px solid #999;
float:left;
width:460px;
}
#tabs ol.forms {
border:1px solid #FFFFFF;
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 0 0 2px;
padding:1px;
width:454px;
}
#tabs ol.forms li{
border-bottom:1px solid #ddd;
border-top:1px solid #fff;
clear:both;
color:#222;
float:left;
margin:0 0 0 -3px;
padding: 0 10px;
position:relative;
width:439px;
height:30px;
font: normal 13px/30px arial;
background: #fff url(../images/form-bg2.jpg) repeat-y;
}
#tabs ol.forms li.alt{
background: #FEFDEE url(../images/form-bg3.jpg) repeat-y;
}
#tabs ol.forms li.first{
border-top: 0;
}
#tabs ol.forms li.last{
border-bottom:0;
}
#tabs ol.forms label, 
#tabs ol.forms li.radio-item label.to-label {
//color:#455C21;
color:#444;
cursor:pointer;
display:block;
float:left;
margin:0 21px 0 0;
padding:0 35px 0 0;
text-align:right;
width:140px;
}
#tabs ol.forms li.radio-item label{
display: inline;
float: none;
font-weight: normal;
margin: 0 10px 0 0;
width: auto;
background: none;
padding: 0;
color:#222;
}
#tabs ol.forms li.radio-item input{
width: auto;
margin: 0;
padding:0;
}
#tabs ol.forms select,
#tabs ol.forms option,
#tabs ol.forms input,
#tabs ol.forms textarea{
font: normal 13px arial!important;
color:#111;
-moz-border-radius: 4px;
}
#tabs ol.forms textarea{
padding: 3px;
}
#tabs ol.forms input{
padding-left: 3px;
height: 16px;
}
#tabs ol.forms li .tooltip{
position: absolute;
top: 7px;
left: 160px;
border: 0;
text-decoration: none;
text-indent: -7998px;
width: 30px;
height: 15px;
display: block;
}
#tabs ol.forms li .tt-inline{
background: transparent url(../images/tooltip-info.png) no-repeat;
}
#tabs ol.forms li .tt-modal{
background: transparent url(../images/tooltip-help.png) no-repeat;
}
.qtip.qtip-cream .qtip-content.qtip-content{
color: #9F6827!important;
}
.qtip-content.qtip-content{
font: normal 12px/17px arial!important;
padding: 1em!important;
}
#tabs ol.forms li.buttons{
float: none;
margin-left: 100px;
width: auto;
}
#tabs ol.forms li.textarea{
height: auto;
}
#tabs ol.forms li.textarea textarea{
margin-top:5px;
}

#tabs ol.forms li.heading{
background:#fff none repeat scroll 0 0;
height:27px;
}
#tabs ol.forms li.heading.first{
height: 26px;
}

#tabs ol.forms li.heading h3{
text-align:ce;
background: url(../images/heading-bg2.jpg) repeat-x left bottom;
/*border: 1px solid #92A64D;*/
border: 1px solid #999;
border-bottom: 1px solid #fff;
margin:-2px -11px 0 -12px;
}
#tabs ol.forms li.heading.first h3{
margin: -3px -11px -2px -12px;
}
#tabs #colors li.palette{
position: relative;
}


#tabs li.palette .colorpicker_hex {
background:none;
height:24px;
left:212px;
position:absolute;
top:140px;
width:68px;
}
#tabs li.palette .colorpicker_hex input {
background: #fff;
-moz-border-radius: 0;
border:1px solid #666666;
color:#111111;
height:15px;
padding:2px 0;
width:64px;
}
#tabs li.palette .picker{
width: 50px;
height: 20px;
line-height: 20px;
padding-left: 21px;
display:block;
position: absolute;
top:5px;
right:18px;
cursor:pointer;
text-decoration: underline;
font-size: 11px;
background: transparent url(../images/colorpicker-bg.png) no-repeat 0;
}
.newColorpicker {
z-index: 9999;
}
#tabs li.palette .picker span{
display:none;
}
#tabs li.palette a:hover.picker span{
display:inline;
}
#tabs li.palette .color-preview{
width: 16px;
height: 16px;
display:block;
position: absolute;
top:7px;
right:97px;
background: #ccc;
-moz-border-radius: 3px;
}

#assets-tabs ul.assets-list ul li.alt{
margin-left: 0;
}
#browse-assets .ui-tabs-panel{
padding: 0;
}
#tabs #assets.ui-widget-content,
#tabs #assets-tabs.ui-widget-content{
width:920px;
}

.switch{
overflow: hidden;
margin: 0;
}
.switch h2{
margin: 0;
padding: 0;
width: 40%;
height: 30px;
float: left;
font: bold 22px/30px arial;
color: #666;
}
.switch h2 strong{
color: #999;
}
.switch p{
width: 60%;
height: 30px;
line-height: 30px;
padding: 0;
margin: 0;
display: block;
float: right;
text-align: right;
}
a.switch-view:hover{
filter: alpha(opacity=75);
opacity: .75;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
#wrap #assets a.switch-view{
background: #fff url(../images/switch-view.png) no-repeat;
padding: 4px 55px 4px 8px;
}
#wrap #assets a.switch-view.swap{
background-position: bottom left;
}







/* default view - thumbnails */
#assets .thumb-view ul.assets-headers{
display: none;
}
#assets .thumb-view ul,
#assets .thumb-view li,
#assets .thumb-view ul ul,
#assets .thumb-view ul ul li,
#assets .thumb-view h3{
margin: 0;
padding: 0;
list-style: none;
font: normal 12px arial;
}
#assets .thumb-view li{
width: 448px;
float: left;
margin-top: 20px;
background: #E3E3E3 url(../images/assets-inactive-bg.jpg) repeat-x;
border: 1px solid #ccc;
padding: 0;
position: relative;
}
#assets .thumb-view li.alt{
margin-left: 20px;
}
#assets .thumb-view li.tl-active{
background: #E3E3E3 url(../images/assets-active-bg.jpg) repeat-x;
}
#assets .thumb-view li .assets-inner{
padding: 15px;
border: 1px solid #fff;
}
#assets .thumb-view li.tl-active{
border:1px solid #8FAB60;
}
#assets .thumb-view li.tl-active .assets-inner{
background: transparent url(../images/active-badge.png) no-repeat top right;
}

#assets .thumb-view li .chrome-wrap{
width: 200px;
height: 100px;
background: transparent url(../images/browsers/safari-sml.png) no-repeat 0 0px;
padding-top: 18px;
overflow: hidden;
border-bottom: 1px solid #ccc;
}
#assets .thumb-view li img{
border: 1px solid #ccc;
}
#assets .thumb-view ul li strong{
font: bold 12px arial;
width: 120px;
display: inline-block;
color: #444;
}
#assets .thumb-view h3{
font: bold 17px arial;
width: 200px;
position: absolute;
top: 13px;
left: 235px;
}
#assets .thumb-view ul.themelet-summary,
#assets .thumb-view ul.logo-summary,
#assets .thumb-view ul.background-summary{
position: absolute;
top: 38px;
left: 235px;
}
#assets .thumb-view ul.themelet-summary li,
#assets .thumb-view ul.logo-summary li,
#assets .thumb-view ul.background-summary li{
background: none;
line-height: 17px;
border: 0;
margin-top: 0;
padding: 0;
width: 200px;
}
#assets .thumb-view ul.buttons{
left:235px;
margin:0;
padding:0;
position:absolute;
top:98px;
width:212px;
}
#assets .thumb-view ul.buttons li{
background: none;
float: left;
width: auto;
margin: 0 10px 0 0;
border: 0;
padding: 0;
}
#assets .thumb-view li.tl-active ul.buttons li.btn-activate a,
#assets .thumb-view li.tl-active ul.buttons li.btn-activate a:hover,
#assets .thumb-view li.tl-active ul.buttons li.btn-delete a,
#assets .thumb-view li.tl-active ul.buttons li.btn-delete a:hover{
cursor: default;
}
#assets .thumb-view ul.buttons li.btn-preview{
display: none;
}
.image-container{
width: 200px;
height: 100px;
border: 1px solid #ccc;
}
.image-container div{
width: 190px;
height: 90px;
border: 5px solid #eee;
background-repeat: repeat;
background-position: 50% 50%;
}
#assets-logos .image-container div{
background-repeat: no-repeat;
background-color: #fff;
}
#assets .list-view .image-container,
#assets .list-view .image-container div{
display: none;
}
/* list view */
#assets .list-view ul,
#assets .list-view li,
#assets .list-view ul ul,
#assets .list-view ul ul li,
#assets .list-view h3{
margin: 0;
padding: 0;
list-style: none;
font: normal 12px arial;
}
#wrap #assets .list-view ul.assets-headers{
width: 918px;
overflow: hidden;
margin-top: 20px;
display: block;
height: 30px;
background: #ccc url(../images/gradient1.jpg) repeat-x;
border: 1px solid #ccc;
}
#wrap #assets .list-view ul.assets-headers li{
float: left;
width: auto;
background: none;
font: bold 13px/30px arial;
text-align: center;
}
#wrap #assets .list-view ul.assets-headers li.th-name{
width: 140px;
text-align: left;
padding-left: 7px;
}
#wrap #assets .list-view ul.assets-headers li.th-installed{
width: 140px;
}
#wrap #assets .list-view ul.assets-headers li.th-current{
width: 140px;
}
#wrap #assets .list-view ul.assets-headers li.th-date{
width: 150px;
}
#wrap #assets .list-view ul.assets-headers li.th-activate{
width: 110px;
}
#wrap #assets .list-view ul.assets-headers li.th-delete{
width: 110px;
}
#wrap #assets .list-view ul.assets-headers li.th-preview{
width: 110px;
border-right: 0;
}
#assets .list-view ul{
overflow: hidden;
width: 918px;
margin: 0;
border: 1px solid #ccc;
}
#assets .list-view ul ul{
border: 0;
}
#assets .list-view li{
width: 100%;
float: none;
margin-top: 0;
background: #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding: 0;
position: relative;
height: 30px;
overflow: hidden;
}
#assets .list-view li.alt{
margin-left: 0;
background: #E7ECEF;
}
#assets .assets-layout.list-view li img{
display: none;
}
#assets .list-view ul li strong{
font: normal 12px arial;
display: none;
}
#assets .list-view h3{
font: bold 12px arial;
width: 140px;
position: absolute;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
top: 0;
left: 0;
padding: 7px 0 0 7px;
height: 30px;
}
#assets .list-view ul.themelet-summary,
#assets .list-view ul.logo-summary,
#assets .list-view ul.background-summary{
position: absolute;
top: 0;
left: 160px;
}
#assets .list-view ul.themelet-summary li,
#assets .list-view ul.logo-summary li,
#assets .list-view ul.background-summary li{
background: none;
line-height: 17px;
border: 0;
width: auto;
float: left;
margin: 0;
padding: 6px 0 0 0;
height: 30px;
text-align: center;
border-right: 1px solid #ccc;
}
#assets .list-view ul.themelet-summary li.tl-installed,
#assets .list-view ul.logo-summary li.tl-installed,
#assets .list-view ul.background-summary li.tl-installed{
width: 128px;
}
#assets .list-view ul.themelet-summary li.tl-current,
#assets .list-view ul.logo-summary li.tl-current,
#assets .list-view ul.background-summary li.tl-current{
width: 140px;
}
#assets .list-view ul.themelet-summary li.tl-date,
#assets .list-view ul.logo-summary li.tl-date,
#assets .list-view ul.background-summary li.tl-date{
width: 150px;
}
#assets .list-view ul.buttons{
position: absolute;
top: 0;
width: 350px;
left: 581px;
margin: 0;
padding: 0;
overflow: hidden;
}
#assets .list-view ul.buttons li{
background: none;
float: left;
border-right: 1px solid #ccc;
padding: 5px 0 0 0;
text-align: center;
}
#assets .list-view ul.buttons li a{
margin: 3px auto 0 auto;
display: block;
}
#assets .list-view ul.buttons li.btn-activate{
width: 110px;
}
#assets .list-view ul.buttons li.btn-activate a{
margin-left: 3px;
}
#assets .list-view li.tl-active ul.buttons li.btn-activate a,
#assets .list-view li.tl-active ul.buttons li.btn-activate a:hover,
#assets .list-view li.tl-active ul.buttons li.btn-delete a,
#assets .list-view li.tl-active ul.buttons li.btn-delete a:hover{
cursor: default;
}
#assets .list-view ul.buttons li.btn-delete{
width: 103px;
}
#assets .list-view ul.buttons li.btn-delete a{
margin-left: -3p;
}
#assets .list-view ul.buttons li.btn-preview{
width: 75px;
display: block;
border-right:0;
}
#assets .list-view ul.buttons li.btn-preview a{
margin-left: 30px;
}
#assets #logos-list.thumb-view ul li strong,
#assets #backgrounds-list.thumb-view ul li strong{
width: 70px;
}
#wrap #assets p.assets-location{
margin: 30px 0 0;
padding: 0;
clear: both;
font: normal 12px arial;
color: #999;
}

#help.ui-tabs-panel{
overflow: hidden;
padding: 30px 20px 20px 30px;
}
#tabs #help.off{
background: #fff url(http://localhost/morph/administrator/components/com_configurator/images/maskot-sitting.png) no-repeat 5% 70%;
}
#tabs #help.on{
background: #fff url(http://localhost/morph/administrator/components/com_configurator/images/maskot-sitting.png) no-repeat 5% 70%;
}
#help div{
width: 30%;
float: right;
}
#tabs a:link,
#tabs a:visited{
color:#546F29;
text-decoration:underline;
}
#help .help-block1{
margin-left: 40px;
width: 30%;
}
#help h3{
font: bold 17px arial;
color: #666;
margin: 0 0 10px 0;
}
#help p{
font: normal 13px/20px arial;
color: #222;
}
#help p.help-links{
margin-top:-10px;
}


#footer{
overflow:hidden;
filter:alpha(opacity=60);
opacity: 0.6;
-moz-opacity:0.6;
}
#footer:hover{
overflow:hidden;
}
#footer a.ptlogo{
width: 170px;
height: 45px;
display: block;
float:left;
margin-top:15px;
text-indent: -7998px;
background: transparent url(../images/ptlogo1.png) no-repeat;
}
#footer a.ptlogo:hover{
background-position: bottom left;
}
.footer-links,
.footer-links li{
margin: 0;
padding: 0;
list-style: none;
}
.footer-links{
float:right;
width:750px;
margin: 10px 0 0 10px;
}
.footer-links li{
display: block;
float:left;
margin: 0 65px 0 0;
}
.footer-links li.fd{
margin: 0 0 0 0;
}
.footer-links li li{
display: block;
float:none;
margin: 0;
}
.footer-links li a{
color: #ccc;
font-size: 11px;
}
.footer-links li h4{
color: #fff;
font-size: 13px;
margin:0;
padding:0;
}




#uploader{
overflow: hidden;
}
#uploader .upload-tool,
#uploader .upload-info{
width: 48%;
float: left
}
#uploader .upload-info{
float: right;
}
#uploader h3{
font: bold 25px arial;
}
#uploader legend{
font: bold 20px arial;
color: #999;
}
#uploader label{
cursor: pointer;
}
#uploader legend strong{
color: #555;
}
#uploader fieldset{
background: #eee;
padding: 1em;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

#conf-login{
position: relative;
background: #000;
color: #313131;
width: 100%;
padding: 50px 0;
display: block;
text-align: left;
}
#conf-login h2{
font: bold 32px Arial;
margin:0 0 10px 0;
padding:0;
}
#conf-login p{
margin:0 0 20px 0;
padding:0;
font: normal 15px/20px Arial;
width:355px;
}
#cl-inner {
background:#fff;
border:5px solid #111;
color:#313131;
display:block;
height:280px;
padding: 20px;
margin:0 auto;
position: relative;
width:550px;
}
#conf-login label.label-username,
#conf-login label.label-password{
width:350px;
height:33px;
margin:0 0 10px 0;
padding:0;
background:#ddd;
position:relative;
border:1px solid #ccc;
text-indent:10px;
font: normal 15px/35px arial;
display: block;
float: left;
}
#conf-login label.label-username{
margin:0 0 20px 0;
}
#conf-login #alf-cont label.label-username input.alf-input,
#conf-login #alf-cont label.label-password input.alf-input{
width:230px;
height:27px;
margin:0;
position:absolute;
top:0;
right:0;
background:#ddd url(../images/input-bg.jpg) repeat-x;
color:#555;
border: 0;
border-left: 1px solid #ccc;
padding: 6px 0 0 13px;
font: normal 15px/35px arial;
}
#conf-login #alf-cont label.label-username input.alf-input.focus,
#conf-login #alf-cont label.label-password input.alf-input.focus{
background:#ddd url(../images/input-bg.jpg) repeat-x;
color:#555;
border: 0;
border-left: 1px solid #ccc;
padding: 6px 0 0 13px;
font: normal 15px/35px arial;
}
#am-login-form #alf-cont{
overflow:hidden;
width:355px;
}
#conf-login span.mascot{
width:156px;
height:376px;
background: transparent url(../images/login-mascot.png) no-repeat;
display: block;
position: absolute;
top: -50px;
right: 10px;
}
#conf-login #am-login-form .alf-login{
width:250px;
height:40px;
overflow: hidden;
border:0;
background:none;
padding:40px 0 0 0;
margin:10px 0 0 0;
background: transparent url(../images/btn-configurator-login.png) no-repeat;
cursor: pointer;
}
#conf-login #am-login-form .alf-login:hover,
#conf-login #am-login-form .alf-login:focus{
background-position: left center;
}
#conf-login label.login-checkbox{
font:normal 13px arial;
color: #999;
margin-bottom: 10px;
}

#am-login-form .alf-login{
/*position: absolute;
left: 320px;
text-indent: -5000px;
border: 0;
background: transparent url(../images/login-button-sprite.png) no-repeat 0 0;
height: 98px;
width: 158px;
-moz-outline: 0 none;*/
}
#am-login-form .alf-login:hover,
#am-login-form .alf-login:focus{
/*background-position: -159px 0;
cursor: pointer;*/
}
#am-login-form .alf-login:active{
/*background-position: -319px 0;
cursor: pointer;*/
}
#am-login-form input:focus{
/*-moz-outline: 0;
outline: 0;
outline-offset: 0;*/
}





#am-login-form #alf-cont .alf-input{
/*display: block;
padding: 10px 0 0 10px;
margin-bottom: 9px;
height: 32px;
width: 300px;
background: transparent url(../images/login-input-bg.png) no-repeat 0 0;
color: #898989;
border: none;
text-align: left;
font: normal 18px/32px Arial;*/
}
#am-login-form #alf-cont .alf-input:focus{
/*background: transparent url(../images/login-input-bg-focus.png) no-repeat 0 0;
color: #00b0ff;*/
}
#am-login-form #alf-cont #alf-inp-cont{
/*position: absolute;
left: 0;
top: 0;
text-align: left;*/
}
#am-login-form #alf-cont #alf-inp-cont .alf-check{
/*display: block;
float: left;*/
}
#am-login-form #alf-cont #alf-inp-cont label{

}
#am-login-form .alf-login{
/*position: absolute;
left: 320px;
text-indent: -5000px;
border: 0;
background: transparent url(../images/login-button-sprite.png) no-repeat 0 0;
height: 98px;
width: 158px;
-moz-outline: 0 none;*/
}
#am-login-form .alf-login:hover,
#am-login-form .alf-login:focus{
/*background-position: -159px 0;
cursor: pointer;*/
}
#am-login-form .alf-login:active{
/*background-position: -319px 0;
cursor: pointer;*/
}
#am-login-form input:focus{
/*-moz-outline: 0;
outline: 0;
outline-offset: 0;*/
}
#alf-warning,#alf-output{
text-align: left;
padding-top: 10px;
}
#alf-image{
position: absolute;
top: 46%;
left: 48%;
display: none;
z-index: 50;
}
#login-details{
padding: .6em;
zoom: 1;
background: #8cc048;
width: 48%;
float: right;
margin: 0 0 1em 0;
color: #fff;
font-weight: bold;
font-size: 14px;
}
#login-details p{
padding: 0;
margin: 0;
}
#login-details p.ld-float-user{
float: left;
width: 385px;
color: #323c24;
}
#login-details .ld-username{
color: #fff;
padding-left: 18px;
background: url(../images/user.png) no-repeat 0 0;
}
#login-details .ld-logout{
color: #323c24;
padding-left: 20px;
background: url(../images/logout.png) no-repeat 0 0;
text-align: right;
width: 68px;
}
#login-details a.logout-configurator:hover{
text-decoration: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
border: none;
}
.icon-48-configurator{
background: transparent url(../images/icon-48-configurator.png) 0;
}

#getting-started{
padding:1em 1em 0em 1em;
}
#getting-started h1{
font: bold 30px arial;
margin:0 0 .5em 0;
padding:0;
color: #222;
}
#getting-started h2{
font: bold 20px arial;
margin:0 0 .5em 0;
padding:.5em 0 0 0;
color: #3A6F29;
border-top:5px solid #eee;
}
#getting-started p.intro{
font: normal 20px arial;
margin:0 0 1em 0;
padding:0;
color: #555;
}
#getting-started p{
font: normal 15px arial;
margin:0 0 1em 0;
padding:0;
color: #555;
}
#getting-started ul{
font: normal 15px arial;
margin:0 0 1em 0;
padding:0;
color: #555;
}
#getting-started ul.key li{
list-style:none;
margin:0;
padding-left: 25px;
height: 25px;
line-height: 25px;
}
#getting-started ul.key li.help-icon{
background:#fff url(../images/help-icon.png) no-repeat 0 50%;
}
#getting-started ul.key li.info-icon{
background:#fff url(../images/info-icon.png) no-repeat 0 50%;
}
#tabs .desc-overlay{
position:absolute;
width: 100%;
height: 100%;
background: #fff;
z-index: 99;
filter:alpha(opacity=70);
opacity: 0.7;
-moz-opacity:0.7;
}
#tabs .tab-desc{
margin-bottom: 1.5em;
border:5px solid #EF9700;
position:absolute;
width: 700px;
height: auto;
z-index: 99;
top:60px;
left:100px;
}
#tabs .desc-inner{
margin:0;
padding:1em;
color: #AF3E00;
font: normal 15px/20px arial;
background:#FFDC9F;
border:1px solid #AF3E00;
position:relative;
}
#tabs .tab-desc p a{
color: #fff;
font: normal 12px/20px arial;
background:#EF9700;
text-decoration: underline;
position:absolute;
bottom: -1px;
right: -1px;
padding: 2px 0 0 7px;
border-top: 1px solid #AF3E00;
border-left: 1px solid #AF3E00;
}
#tabs .ui-widget-content {
float:left;
position:relative;
width:920px;
}


.docs-wrap{background:#fff;color:#111;padding:10px 2em 1.5em 2em;margin:-1em;max-height:500px;overflow:auto;}
.docs-wrap h2{font-size:25px;margin:20px 0 15px 0;}
.docs-wrap h3{font-size:20px;margin:15px 0 15px 0;}
.docs-wrap p{font:normal 12px/18px arial;}
.docs-wrap dd a{text-decoration:underline!important;}
.docs-wrap p.intro{font:normal 15px/20px Arial;color:#666;}
.docs-wrap .readmore-link{background:transparent url(../images/horizontal-divider.gif) repeat-x top;padding:5px 0 2em 0;margin:0;overflow:hidden;}
.docs-wrap dl.options-list,
.docs-wrap dl.options-list dt,
.docs-wrap dl.options-list dd{margin:0;padding:0;}
.docs-wrap dl.options-list{font-size:12px;overflow:hidden;}
.docs-wrap dl.options-list dt,
.docs-wrap dl.options-list dd{float:left;margin-bottom:15px;line-height:17px;}
.docs-wrap dl.options-list dt{font-weight:bold;width:70px!important;}
.docs-wrap dl.options-list dt span{display:block;color:#0088DB;text-decoration:underline;font-size:11px;font-weight:normal;padding-left:12px;background:#fff url(../images/bullet3.png) no-repeat 0;}
.docs-wrap dl.options-list dd{font-weight:normal;width:580px;color:#444;}
.docs-wrap .docs-class{background:#FFFFAF;border:1px solid #FFD07F;color:#E3702B;padding:0 2px;}
.docs-wrap p .btn{height:26px;float:right;display:inline-block;text-transform:uppercase;text-decoration:none;color:#333;padding-right:15px;font:normal 9px/26px arial;background:url(../images/btn-right.jpg) no-repeat top right;}
.docs-wrap p .btn span{background:url(../images/btn-left.jpg) no-repeat top left;padding-left:15px;height:26px;font:normal 9px/26px arial;display:inline-block;}
.docs-wrap p .btn:hover{background-position:bottom right;}
.docs-wrap p .btn:hover span{background-position:bottom left;}
.colorpicker{z-index:9999;}
.docs-wrap table{font:normal 12px/160% Arial;width:100%;border:1px solid #ccc;border-right:0;margin:0 0 2em 0;}
.docs-wrap table table{margin:0;border:0;background:#F9FFD0;}
.docs-wrap table td{font:normal 13px/160% Arial;text-align:center;border-right:1px solid #ccc;background:#eee;color:#666;}
.docs-wrap table td td{border:1px solid #ccc;background:#eee;color:#666;}
.docs-wrap .docs-il-outer{padding:3px 0;border:1px solid #FF9C60;background:#FFE390;color:#BB5517;}

#minwidth-body .m{
padding:0!important;
}
#minwidth-body .m #templateform{
background: #000 url(../images/bokeh3.jpg) repeat-x scroll 50% 0;
}

#minwidth-body.full-mode{position:relative;background:#000;margin:0;}
#minwidth-body.full-mode #border-top,
#minwidth-body.full-mode #header-box,
#minwidth-body.full-mode #content-box,
#minwidth-body.full-mode .padding,
#minwidth-body.full-mode .m,
#minwidth-body.full-mode .t{
background:#000;
border:0!important;
margin:0;
padding:0;
}
#minwidth-body.full-mode #content-box .padding #element-box{
position:absolute;
top:0;
left:0;
width:100%;
z-index:999;
background:#000;
}
#minwidth-body.full-mode #content-box .padding #element-box .m{
background:#000;
padding:0;
margin:0;
}
#minwidth-body.full-mode #toolbar-box #toolbar table.toolbar{
position: absolute;
top:5px;
right:0;
z-index:1000;
width:145px;
height:5px;
float: none;
}
#minwidth-body.full-mode #toolbar-box #toolbar table.toolbar{
background: #000;
}
#minwidth-body.full-mode #toolbar-box #toolbar .toolbar span{
display:none;
}
#minwidth-body.full-mode #toolbar-box #toolbar .toolbar a{
border:1px solid #444;
background: #222;
color:#eee;
}
#minwidth-body.full-mode #toolbar-box #toolbar .toolbar td {
color:#666666;
height:25px;
padding:0;
text-align:center;
}

#top{
height: 90px;
overflow:hidden;
}
#branding{
width:200px;
float:left;
height: 90px;
}
#branding img{
margin-top: 15px;
}
#quicktips{
width:500px;
float:right;
background: transparent url(../images/maskot-top.png) no-repeat 98% 2%;
height: 90px;
}
#tips {
background:transparent url(../images/tips-bg.png) no-repeat scroll 100% 25%;
color:#222222;
margin:11px 0 0;
width:424px;
}
#tips .inner {
background:#FFFFFF none repeat scroll 0 0;
color:#222222;
padding:10px;
width:370px;
position: relative;
}
#tips h4{
font:bold 13px arial;
margin:0 0 2px 3px;
}
#tips p{
font:normal 11px/15px arial;
margin:0 0 0 3px;
}
#tips a{
background: transparent url(../images/close-tip.png) no-repeat;
width:15px;
height:15px;
display:block;
position:absolute;
top:5px;
right:6px;
text-indent:-7998px;
}

#minwidth-body .ui-widget-overlay {
background:#000000 none repeat scroll 0 0;
opacity:0.9;
}
.logo-preview { display: block; width: 100px; height: 16px; background: transparent url(../images/eye.png) no-repeat 0 0; position:absolute;top:9px; right: 30px;}
.logo-preview span {display: none;}
.logo-preview:hover span { display: block; }

.docs-wrap .btn-link,
#wrap a.switch-view,
#wrap .thumb-view ul.buttons li a,
#wrap a.btn-link{
background: #fff url(../images/btn-link-bg.jpg) repeat-x;
font: bold 11px/25px arial;
border: 1px solid #ccc;
text-decoration: none;
color: #444;
padding: 4px 8px;
}
.docs-wrap a:hover.btn-link,
#wrap .thumb-view ul.buttons li a:hover,
#wrap a.btn-link:hover{
background: #fff url(../images/btn-link-bg-over.jpg) repeat-x;
color: #666;
}

#wrap #assets-tabs .thumb-view ul.buttons li a{
padding: 0!important;
display: block;
line-height: 1;
}
#wrap #assets-tabs .thumb-view ul.buttons li a span{
padding: 4px 29px 4px 8px;
border: 1px solid #fff;
display: block;
}
#wrap #assets-tabs .thumb-view ul.buttons li.btn-activate a span{
background: transparent url(../images/btn-icon-activate.png) no-repeat scroll 88% 50%;
}
#wrap #assets-tabs .thumb-view ul.buttons li.btn-delete a span{
background: transparent url(../images/btn-icon-delete.png) no-repeat scroll 84% 50%;
padding: 4px 26px 4px 8px;
}

#minwidth-body.full-mode #system-message{
position:relative;
z-index:11000;
top:-190px;
margin:0 40px 0 40px;
background:#000;
height:90px;
filter: alpha(opacity=95);
opacity: .95;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
padding-top:40px;
}
#minwidth-body #system-message dd.message{
background:#648A3F url(../images/message-bg.jpg) repeat-x;
margin:0;
padding:0;
border:1px solid #6C9435;
}
#minwidth-body #system-message dd.message ul{
background:transparent url(../images/success.png) no-repeat 10px;
color:#fff;
margin:0;
padding:7px 0 7px 0;
font:bold 20px arial;
border:1px solid #C0DA4E;
}
#minwidth-body #system-message dd.message li{
margin-left: 15px;
}

#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li a {
padding-left: 30px;
}
#tabs .ui-tabs-panel #blocks-tabs .ui-tabs-nav li a {
padding-left:31px!important;
}
#tabs .ui-tabs-panel #blocks-tabs .ui-tabs-nav li a{
border-left:0 solid #fff;
padding: 5px 7px 5px 10px;
}
#tabs .ui-tabs-panel #blocks-tabs .ui-tabs-nav li.ui-tabs-selected.ui-state-active{
border-left:1px solid #222;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-footer{
border-right:0;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-footer a{
border-right:0;
padding-right:14px;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-footer.ui-tabs-selected.ui-state-active{
margin-right:-1px;
padding-right:4px;
}

#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-general a {
background:transparent url(../images/acc-gen-settings.png) no-repeat 8px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-progressive a {
background:transparent url(../images/acc-prog-settings.png) no-repeat 8px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-performance a {
background:transparent url(../images/acc-per-settings.png) no-repeat 8px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-debugging a {
background:transparent url(../images/acc-bug-settings.png) no-repeat 8px 49%;
}

#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-colors a {
background:transparent url(../images/acc-color-settings.png) no-repeat 8px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-logos a {
background:transparent url(../images/acc-logo-settings.png) no-repeat 8px 70%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-backgrounds a {
background:transparent url(../images/acc-cust-settings.png) no-repeat 8px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-menus a {
background:transparent url(../images/acc-menu-settings.png) no-repeat 10px 50%;
}

#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-toolbar a {
background:transparent url(../images/acc-tool-settings.png) no-repeat 7px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-mainhead a {
background:transparent url(../images/acc-mhead-settings.png) no-repeat 7px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-subhead a {
background:transparent url(../images/acc-shead-settings.png) no-repeat 7px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-topnav a {
background:transparent url(../images/acc-topnav-settings.png) no-repeat 7px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-oshelves a {
background:transparent url(../images/acc-oshelves-settings.png) no-repeat 7px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-ishelves a {
background:transparent url(../images/acc-ishelves-settings.png) no-repeat 7px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-main a {
background:transparent url(../images/acc-main-settings.png) no-repeat 7px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-sidebars a {
background:transparent url(../images/acc-side-settings.png) no-repeat 7px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-insets a {
background:transparent url(../images/acc-insets-settings.png) no-repeat 7px 50%;
}
#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-footer a {
background:transparent url(../images/acc-footer-settings.png) no-repeat 7px 50%;
}

#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-themelets a {
background:transparent url(../images/acc-themelet-settings.png) no-repeat 7px 50%;
}

#tabs .ui-tabs-panel .subtabs .ui-tabs-nav li.icon-installer a {
background:transparent url(../images/acc-installer-settings.png) no-repeat 7px 50%;
}

ul.morph-resources,
ul.morph-resources li{
margin:0;
padding:0;
}
ul.morph-resources li{
display: inline;
list-style:none;
padding-right:5px;
}