a:link,a:visited{text-decoration:underline;}
.m{position:relative!important;}
#loading{width:100%;height:100%;background:#111 url(../images/loading-ui.jpg) no-repeat 50% 47%;z-index:99999;position:absolute;top:0;left:0;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;}
#cfg .ui-widget{padding:0;margin:0;background:none;border:0;position:relative;}
#lost-password-form{padding:2em;}
#sendpass label{font:normal 15px/20px arial;}
#lost-password{-moz-border-radius:7px;-webkit-border-radius:7px;margin:5px 0 10px 0;}
.btn-getpass{-moz-border-radius:7px;-webkit-border-radius:7px;padding:5px 10px;}
#cfg.noshelf.nobranding #tabs{margin-top:1.5em;}
#cfg.shelftop #shelf{padding-top:0;}
#cfg.shelfbtm.nofooter.nobranding,
#cfg.shelftop.nobranding #shelf{padding-top:1.5em;}
#cfg.shelfbtm #shelf{margin-top:1.5em;}
#cfg.nofooter{margin-bottom:1.5em;}
#cfg.footer{}
#cfg.nobranding{}
#cfg.branding{}
#element-box .t,#element-box .b{display:none;}
#element-box .m{background:#111 url(../installer/images/install-bg.jpg) no-repeat 50% 50%;padding:15px 0;border:0;}
button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;}
.icon-48-configurator{background:transparent url(../images/icon-48-configurator.png) repeat scroll 5px 8px;}
#logologo_image{width:175px;}
#top{height:90px;position:relative;}
#branding{width:200px;float:left;height:90px;}
#branding img{margin-top:15px;}
#minwidth-body .ui-widget-overlay{background:#000000 none repeat scroll 0 0;opacity:0.9;}
.logo-preview{display:block;width:16px;height:16px;background:transparent url(../images/eye.png) no-repeat 0 0;position:absolute;top:9px;right:100px;}
.logo-preview span{display:none;}
.logo-preview:hover span{display:block;}
img.logo-preview-image{margin:-10px;}
.docs-wrap .btn-link,#cfg a.switch-view,
#cfg a.btn-link{background:#fff url(../images/btn-link-bg.jpg) repeat-x;font:bold 11px/25px arial;border:1px solid #ccc;text-decoration:none;color:#444;padding:4px 8px;}
#cfg #shelf a.btn-link{padding:3px 7px;}
.docs-wrap a:hover.btn-link,#cfg .thumb-view ul.buttons li a:hover,#cfg a.btn-link:hover{background:#fff url(../images/btn-link-bg-over.jpg) repeat-x;color:#666;}
ul.morph-resources,ul.morph-resources li{margin:0;padding:0;}
ul.morph-resources li{display:inline;list-style:none;padding-right:5px;}
a.disabled{opacity:0.5;cursor:default;}
p.important{background:#FEFF8F;border:1px solid #FF981F;padding:1em;color:#BF3100;width:325px;}
.quicktips-box{margin:0 auto;width:615px;padding:5px;}
.toolguides.ui-dialog-content{padding:5px;}
.themelet-options{font:normal 11px arial;color:#ccc;padding:8px 0 0 7px;}
.dialog-msg{padding:15px;font:normal 15px arial;}
.upload-logo-container{font-size:11px;padding-left:30px;color:#666;}
.upload-bg-container{font-size:11px;padding-left:10px;color:#666;width:60px;}
#upload-message,#changesDialog{padding:15px;font:normal 15px arial;}
#logologo_image{width:130px;}
.no-assets{display:block;color:#777;background:#ededed;border:1px solid #ddd;text-align:center;font-size:16px;margin:15px auto;padding:25px 0;}
.resources-list{margin:-10px 0 0 0;padding:0;color:#999;}
#toolbar-Link{display:none;}
#updates-summary dd span{color:#444;border-bottom:1px dashed #ccc;}
#updates-summary dd.icon span{border-bottom:0;}
body{font:13px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif}
#cfg a:focus{outline:none;}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}
ol{list-style:decimal}
ul{list-style:square}
li{margin-left:30px}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}
.to-label{width:230px;display:block;float:left;}
.dialog-msg p small{padding:2px 0;background:yellow;line-height:1.6em;font-size:11px;}
#bottom-save{position:fixed;bottom:0%;left:0%;width:100%;background:#539312;padding:.7em;z-index:99;text-align:center;border-top:1px solid #4A771E;}
#bottom-save a{background:#fff;padding:.2em .5em;margin-right:1em;padding:5px 0 5px 30px;color:#fff;font:bold 1.5em arial;background:transparent url(../images/fullscreen-saved.png) no-repeat scroll 0% 90%;}
/* status messages */
#browser-wrap .cfg-message{padding:1em;}
#browser-wrap .cfg-message p{width:auto;margin:0;padding:5px 5px 5px 30px;-moz-border-radius:15px;font-size:13px;position:relative;}
#browser-wrap .cfg-message p.notice{background:#FFB51B url(../images/splash-updates.png) no-repeat 8px 50%;color:#CC3300;}
#browser-wrap .cfg-message p.error{background:#CC322A url(../images/error.png) no-repeat 8px 50%;color:#fff;}
#browser-wrap .cfg-message p.info{background:#B6E7FF url(../images/info.png) no-repeat 8px 50%;color:#006699;}
#browser-wrap .cfg-message p a{text-decoration:underline;}
#browser-wrap .cfg-message p.notice a{color:#801F00;}
#browser-wrap .cfg-message p.notice a.close-msg:hover{background:#801F00;}
#browser-wrap .cfg-message p.error a{color:#FFB51B;}
#browser-wrap .cfg-message p.error a.close-msg{color:#95221D;}
#browser-wrap .cfg-message p.error a.close-msg:hover{background:#95221D;}
#browser-wrap .cfg-message p.info a{color:#006699;}
#browser-wrap .cfg-message p.info a.close-msg:hover{background:#006699;}
#browser-wrap .cfg-message p a.close-msg{position:absolute;top:5px;right:5px;width:50px;background:#fff;-moz-border-radius:10px;display:block;text-align:center;text-decoration:none;}
#browser-wrap .cfg-message p a.close-msg:hover{color:#fff;}