#cl-inner{height:auto;}
#conf-login #am-login-form .alf-login{padding-top:39px;text-indent:-7998px;}
#minwidth-body.fullscreen #toolbar-box #toolbar table.toolbar{width:434px;}
.win #minwidth-body.fullscreen #toolbar-box #toolbar table.toolbar{width:600px;}
#conf-login label.login-checkbox{background:none;}
#database-manager label input,
.radio-item input{border:0;}
#cfg #tabs ol.forms li{padding:5px 10px 0px 10px;}
#conf-login #alf-cont label.label-username input.alf-input,
#conf-login #alf-cont label.label-password input.alf-input{padding:0;background:none;}
#cfg .list-view ul.assets-headers li{list-style:none;}
#cfg #tabs ol.forms li.palette .color-preview{right:121px;top:7px;}
.win #cfg #tabs ol.forms li.palette .color-preview{right:119px;}
#tabs li.palette .picker{right:39px;}
#preferences-form .to-label{width:210px;}
#minwidth-body.fullscreen #toolbar-box #toolbar table.toolbar{width:334px;}
#tabs ol.forms li .tooltip{top:11px;}
#utilities ul .menuitem{border-radius:4px;}