#cfg.noshelf.nofooter #tabs{margin-bottom:1.5em;float:left;}
#cfg #tabs ol.forms li.palette .color-preview{right:109px;top:7px;}
#cfg #tabs #captify-options ol.forms li.palette .color-preview{top:8px;}
#cfg #tabs #captify-options ol.forms select,
#cfg #tabs #captify-options ol.forms input{margin-top:6px;}

#tabs ol.forms input{-webkit-border-radius:4px;}
#tabs li.palette .picker{right:28px;}
#tabs ol.forms li .tooltip{top:8px;}
#preferences-form .to-label{width:210px;}
#logo-options select,
#logo-options input{margin-top:6px;}
#cfg #tabs #logo-options ol.forms li.radio-item input{margin-top:7px;}
#cfg #tabs #logo-options ol.forms li.radio-item{padding-bottom:0;}
#cfg #tabs #logo-options ol.forms li .color-preview{top:8px;}

#minwidth-body.fullscreen #toolbar-box #toolbar table.toolbar{width:363px;}
#select-file input{border:0;}
#cfg #tabs ol.forms li{padding:0 10px 2px 10px;}
#assets-tabs .thumb-view ul.buttons li a span,
#assets-tabs .thumb-view ul.buttons li a,
a.btn-link,
a.switch-view,
#qtip-content .docs-wrap a.btn-link,
#system-message dd.message ul,
#system-message dd.message {-webkit-border-radius:10px;}
#shelf,
#cfg #shelf #utilities,
#element-box .m,
.#tips .inner,
#minwidth-body .m #templateform{-webkit-border-top-left-radius:7px;-webkit-border-top-right-radius:7px;-webkit-border-bottom-left-radius:7px;-webkit-border-bottom-right-radius:7px;}
#utilities ul li #toggle-shelf{-webkit-border-radius:4px;}
#shelf-contents,
#tabs .ui-tabs-panel{-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:7px;-webkit-border-bottom-right-radius:7px;}
ul.assets-headers,
#shelf.open #utilities,
#tabs .primary.ui-tabs-nav li a{-webkit-border-top-left-radius:7px;-webkit-border-top-right-radius:7px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;}
#shelf.closed #utilities{-webkit-border-radius:7px;}
#browser-wrap .cfg-message p{-webkit-border-radius:15px;}
#browser-wrap .cfg-message p a.close-msg{-webkit-border-radius:10px;}
#minwidth-body #content-box #element-box .m,
#browser-wrap,#minwidth-body .m #templateform{-webkit-border-radius:7px;}
#database-tab .action a,
#database-tab ul{-webkit-border-radius:5px;}
#cfg #tools .tools-btn{-webkit-border-radius:10px;}
#footerfooter_textcolor,
#footerfooter_linkscolor{margin-top:5px;}
a.btn-primary{-webkit-border-radius: 20px;-webkit-box-shadow:0 0 5px #999;}
a.btn-primary:hover{-webkit-box-shadow:0 0 5px #598C13;}
#shelf #utilities span.shelf-notice{-webkit-border-radius:7px;}
.ui-dialog .ui-dialog-titlebar{-webkit-border-top-left-radius:7px;-webkit-border-top-right-radius:7px;}