#quicktips{z-index:0;width:500px;position:absolute;right:-7px;background:transparent url(../images/maskot-top.png) no-repeat 98% 2%;height:280px;}
#quicktips .inner{-webkit-border-radius:10px;border-radius:10px;-moz-border-radius:10px;}
#tips{background:transparent url(../images/tips-bg.png) no-repeat 97% 61%;color:#222;margin:11px 0 0;width:424px;}
#tips .inner{background:#FFFFFF none repeat scroll 0 0;color:#222;padding:10px;width:370px;position:relative;}
#tips h4{font:bold 13px arial;margin:0 0 2px 3px;}
#tips p{font:normal 11px/15px arial;margin:0 0 0 3px;}
#tips a{background:transparent url(../images/close-tip.png) no-repeat;width:15px;height:15px;display:block;position:absolute;top:5px;right:6px;text-indent:-7998px;}