#uploader{overflow:hidden;}
#uploader .upload-tool,#uploader .upload-info{width:48%;float:left;}
#uploader .upload-info{float:right;background:#eee;padding:0;border:1px solid #ccc;}
#uploader .upload-info h4{background:#ddd;padding:5px 10px;font:bold 17px arial;border-bottom: 1px solid #ccc;}
#uploader .upload-info p{margin:0 15px 15px 15px;}
#uploader h3{font:bold 25px arial;}
#uploader legend{font:bold 17px arial;color:#999;margin:0;padding:0;}
#install-type label{cursor:pointer;position:relative;padding:4px 7px;border:1px solid #ccc;background:#eee;color:#999;}
#install-type label:hover{color:#333;border:1px solid #666;}
#install-type input{position:absolute;left:-7998px;}
#install-type .label-selected{border:1px solid #507B21;background:#99CC66;color:#507B21;}
#uploader legend strong{color:#555;}
#uploader fieldset{margin:0 0 1em;padding:1em 0 1.8em;border:0;border-bottom:1px dashed #ccc;}
#uploader fieldset#upload-install{border:0;}

#database-manager{font-family:arial;}
#database-manager ul{list-style:none;margin:0;padding:0;clear:both;display:block;float:none;width:50%;background:#eee;border:1px solid #ccc;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#database-manager ul ul{margin:5px 0 0 5px;background:#fff;padding:1em;width:395px;}
#database-manager li{font-weight:bold;margin:0;padding:1em 1em 1.5em 1em;border-bottom:1px solid #ccc;}
#database-manager li li{font-weight:normal;padding:0;border-bottom:0;}
#database-manager .action{padding:1em 0 .7em 1.2em;border-bottom:0;background:#ddd;}
#database-manager .action input{padding:5px 8px;}
table.table{border:1px solid #ccc;width:100%;}
table.table th{border:1px solid #ccc;background:#eee;}
table.table td{border:1px solid #ccc;padding:2px 5px;text-align:center;}
table.table .filename{text-align:left;padding:2px 5px;}