#content-box div#toolbar-box div.m{height:60px;}
#content-box .icon-48-configurator {background-position: 4px 11px;}
#toolbar-box .pagetitle h2{padding-top:5px;}
#toolbar ul{margin:6px 10px 0 0;}
#toolbar li{margin:0;}
#toolbar a span{background:transparent url(../images/cfg-icons.png) no-repeat 50% 3px;height:26px;}
#toolbar #toolbar-apply a span{background-position:;}
#toolbar #toolbar-fullscreen a span{background-position:50% -76px;}
#toolbar #toolbar-preferences a span{background-position:50% -157px;}
#toolbar #toolbar-report-bug-link a span{background-position:50% -241px;}
#toolbar #toolbar-credits-link a span{background-position:50% -319px;}
#toolbar #toolbar-help-link a span{background-position:50% -399px;}