#submenu-box div.m ul#submenu li{padding:0;}
#submenu-box div.m ul#submenu li a{background:transparent url(../images/splash-guides.png) no-repeat 8px 2px;padding:1px 0 0 30px;font:normal 15px/20px arial;padding-right:10px;text-decoration:none;color:#444;border-right:1px solid #ccc;}
#submenu-box div.m ul#submenu li a:hover{text-decoration:underline;}
#submenu-box div.m ul#submenu li.last a{background:transparent url(../images/manage-link.png) no-repeat 10px 2px;padding-left:35px;}
#submenu-box div.m ul#submenu li.fullscreen a{background:transparent url(../images/fullscreen-link.png) no-repeat 50% -52px;padding-left:35px;}
#submenu-box div.m ul#submenu li.feedback a{background:transparent url(../images/feedback-link.png) no-repeat 50% -157px;padding-left:35px;}
#submenu-box div.m ul#submenu li.toolbar-credits-link a{background:transparent url(../images/feedback-link.png) no-repeat 50% -206px;padding-left:35px;}
#submenu-box div.m ul#submenu li.preferences a{border-left:1px solid #ccc!important;background:transparent url(../images/prefs-link.png) no-repeat 50% -106px;padding-left:35px;}
#submenu-box div.m ul#submenu li a.active{line-height:20px;text-decoration:none;color:#999;opacity:0.4;}
#submenu-box div.m ul,#submenu li.last a{border-right:0;}
#submenu-box div.m ul#submenu li.fullscreen,
#submenu-box div.m ul#submenu li.feedback,
#submenu-box div.m ul#submenu li.preferences{float:right;}
#submenu-box div.m ul#submenu li.preferences a{border-right:0;}

#toolbar-box #toolbar table.toolbar{margin-right:10px;}
#toolbar-box #toolbar .toolbar td a{background:transparent url(../images/cfg-icons.png) no-repeat 50% -4px;padding-top:34px;}
#toolbar .toolbar td a span{display:none;}
#toolbar .toolbar td#toolbar-fullscreen a{background-position:50% -52px;}
#toolbar .toolbar td#toolbar-preferences a{background-position:50% -106px;}
#toolbar .toolbar td#toolbar-report-bug-email-link a,
#toolbar .toolbar td#toolbar-report-bug-link a{background-position:50% -157px;}
#toolbar .toolbar td#toolbar-configurator a,
#toolbar .toolbar td#toolbar-help-link a,
#toolbar .toolbar td#toolbar-apply a{padding-left:10px;padding-right:10px;}
#toolbar .toolbar td#toolbar-help-link a{background-position:50% -251px;}
#toolbar .toolbar td#toolbar-credits-link a{background-position:50% -206px;}
#toolbar .toolbar td#toolbar-configurator a{background-position:50% -300px;}
/*@TODO added by vivek*/
#toolbar-box #toolbar li a{background:transparent url(../images/cfg-icons.png) no-repeat 50% -4px;padding-top:34px;}
#toolbar li a span{display:none;}
#toolbar li#toolbar-fullscreen a{background-position:50% -52px;}
#toolbar li#toolbar-preferences a{background-position:50% -106px;}
#toolbar li#toolbar-report-bug-email-link a,
#toolbar li#toolbar-report-bug-link a{background-position:50% -157px;}
#toolbar li#toolbar-configurator a,
#toolbar li#toolbar-help-link a,
#toolbar li#toolbar-apply a{padding-left:10px;padding-right:10px;}
#toolbar li#toolbar-help-link a{background-position:50% -251px;}
#toolbar li#toolbar-credits-link a{background-position:50% -206px;}
#toolbar li#toolbar-configurator a{background-position:50% -300px;}
/*@TODO end added by vivek*/
.header.icon-48-configurator-help,
.header.icon-48-configurator {color:#999;font-size:2.2em;font-weight:normal;padding:3px 0 0 60px;}
